.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
  }
  
  .nav-logo {
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  .nav-menu li:hover {
    color: #ffcc00; /* Change text color on hover */
  }
  
  .nav-sign {
    border-radius: 50px;
    padding: 10px 38px;
    background: white;
    color: black;
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
  }
  
  .nav-sign:hover {
    background-color: #ffcc00; /* Change background color on hover */
    color: black; /* Change text color on hover */
  }
  .nav-user {
    color: white;
    padding: 0 15px;
    cursor: default;
  }
  
  .nav-user:hover {
    background-color: transparent;
    color: white;
  }