.explore-modal {
    position: relative;
    width: 60%; /* Increase width */
    max-width: 800px; /* Set a max width */
    height: 70vh; /* Increase height */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribute content */
  }
  
  
  .close-x {
    position: absolute; /* Position it inside the modal */
    top: 10px; /* Distance from the top */
    right: 15px; /* Distance from the right */
    font-size: 24px;
    cursor: pointer;
    color: red; /* Red color for the 'X' */
  }
  
  .fun-fact {
    background: #f8f9fa;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border-left: 5px solid #ff5733;
    font-style: italic;
  }
  
  .map-button {
    background: #070707;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .map-button:hover {
    background: #105cea;
  }

  .fun-fact p {
    font-size: 16px;
    margin-top: 10px;
    color: #555;
  }
  